/* for all devices */
.card__wrapper {
  display: grid;
  gap: var(--gap);
}

.cart_card {
  position: relative;
  display: grid;
  gap: var(--gap);

  > *:not(.image__container) {
    padding-top: var(--padding-1);
  }

  & .image__container {
    height: inherit;

    & img {
      object-fit: cover;
      height: 100%;
      border-radius: var(--radius);
    }
  }

  .text__content_div {
    border-radius: var(--radius);
    box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
    padding-inline: var(--padding-1);
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .text__content {
    display: grid;
    gap: 0.2rem;
  }

  .date_tag {
    margin-top: 1rem;
  }

  .last__col {
    text-align: right;
    align-content: center;
  }
}
/* only for mobile devices */
@media (width < 992px) {
  .cart_card {
    grid-template-columns: 5rem 1fr;
    font-size: 0.5rem;

    & .image__container {
      height: 10vh;
    }
  }

  .checkout__box {
    margin-block: 3rem;
    display: grid;
    gap: var(--gap);
    box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
    font-size: 0.9rem;
  }

  .subtotal {
    justify-content: space-between;
  }
}

/* for larger screens */
@media (width > 992px) {
  .cart__container {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: var(--gap);
    padding-block-end: var(--gap);
  }

  .cart_card {
    grid-template-columns: 10rem 1fr;
    height: 30vh;
  }

  .qty_sec {
    display: flex;
    align-items: center;
    gap: var(--padding-min);
  }

  .checkout__box {
    box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
    border-radius: var(--radius);
    position: sticky;
    top: 9rem;
    max-height: 50vh;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    > * {
      border-bottom: 1px solid lightgray;
      padding-block: 0.5cqi;
    }
  }
}
