/* for all devices */
.logo {
  position: relative;
  width: max-content;

  .h_sup {
    background-color: var(--accent-clr);
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 0.6rem;
    width: 20px;
    height: 20px;
    border-radius: 100vw;
    text-align: center;
    align-content: center;
    font-weight: bolder;
  }
}

.fixed_nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.1);
  display: grid;
  gap: var(--gap);
  padding-block-end: var(--gap);
  margin-block-end: var(--gap);
}

nav {
  display: grid;
  padding: var(--padding-min) 1rem;
  min-height: 3rem;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.1);

  .search {
    border-radius: var(--radius);
    outline: 1px ridge var(--accent-clr);
  }

  .navlinks {
    display: flex;
    gap: var(--gap);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    align-items: center;
    justify-content: end;
  }

  .wishlist_icon,
  .cart_icon {
    position: relative;
    cursor: pointer;

    .favorites_count {
      position: absolute;
      top: 15px;
      right: -10px;
      background-color: var(--accent-clr);
      color: var(--primary-clr);
      border-radius: 100vw;
      padding: 0.2rem var(--padding-min);
      font-size: 0.6rem;
    }
  }
}

.search_category_btns_div {
  display: flex;
  padding-inline-start: var(--padding-1);
  width: 100%;
  gap: var(--gap);
  overflow-x: scroll;

  @media (width < 992px) {
    margin-block: var(--padding-1);
  }

  @media (width >= 768px) {
    overflow-x: hidden;
    justify-content: center;
  }

  button.primary {
    --btn-bg: var(--text-clr);
    --btn-clr: var(--primary-clr);
  }
}

.search_sec {
  anchor-name: --search-sec;

  @media (width < 992px) {
    display: none;
  }
}

.suggestion_div {
  min-height: 2rem;
  font-family: var(--font-1);
  width: fit-content;
  position: absolute;
  gap: var(--gap);
  transition: 500ms;
  border-radius: var(--radius);
  z-index: 1000;
  background-color: var(--faded-text-clr);
  color: var(--primary-clr);

  @media (width < 992px) {
    top: 7rem;
    right: 5rem;
  }

  @media (width > 992px) {
    top: 3.5rem;
    left: 50%;
  }

  & li {
    cursor: pointer;
    padding: var(--padding-min);
    &:hover {
      background-color: var(--faded-accent-clr);
    }
  }

  &.active {
    scale: 1 1;
  }
}

.avatar {
  scale: 0.9;
  &:hover {
    box-shadow: 0px 0px 0px 5px rgba(0 0 0 / 0.1);
    transition: box-shadow 200ms;
  }
}

.profile_modal_wrapper {
  position: fixed;
  inset: 3rem 0 0 0;
  opacity: 0;
  display: none;
  transition-behavior: allow-discrete;
  transition-property: display opacity;
  transition-duration: 300ms;
  z-index: 1000;

  &.active {
    opacity: 1;
    display: block;

    @starting-style {
      opacity: 0;
    }
  }
}

.profile_modal {
  background-color: var(--faded-text-clr);
  color: var(--primary-clr);
  width: 20rem;
  min-height: min(17rem, 50vh);
  padding: clamp(1cqi, 2vw, 1rem);
  display: grid;
  justify-self: end;
  gap: var(--gap);
  margin-inline-end: 3rem;
  border-radius: var(--radius);
  transition-duration: 300ms;

  & a {
    display: block;
    align-self: center;
    transition: 100ms ease;
    padding: var(--padding-min);
    display: flex;
    align-items: center;
    gap: var(--padding-min);
    border-radius: var(--radius);

    &:hover {
      background-color: var(--faded-accent-clr);
    }
  }

  .user_details {
    color: var(--primary-clr);
    background-color: #464646;
    border-radius: var(--radius);
    text-align: center;
    padding-block: var(--gap);
    align-content: center;
    /* padding: calc(var(--gap) * 2); */
  }

  .avatar {
    scale: 1.2;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

/* for mobile devices */
@media (width < 992px) {
  .hamburger_btn {
    background-color: transparent;
    display: grid;
    gap: 0.4rem;
    width: 25px;
    place-content: center;

    &.active {
      + .sidebar_backdrop {
        translate: 0 0;
      }

      .bar:first-child {
        translate: 0 0.6rem;
        rotate: 45deg;
      }

      .bar:nth-child(even) {
        opacity: 0;
      }

      .bar:last-child {
        rotate: -45deg;
        translate: 0 -0.4rem;
      }
    }

    & .bar {
      width: inherit;
      background-color: var(--accent-clr);
      height: 2px;
      transition: 200ms;
    }
  }

  .sidebar_backdrop {
    position: fixed;
    top: 3.2rem;
    left: 0;
    translate: -100% 0;
    width: 100%;
    z-index: 1000;
    transition: translate 500ms;
    display: flex;

    &.active {
      translate: 0 0;
    }
  }

  .outside_click {
    width: 2rem;
    flex: 1;
    min-height: 100%;
  }
  .side__bar {
    min-height: 50vh;
    width: 80%;
    padding-block: var(--padding-inline);
    display: grid;
    align-items: start;
    gap: var(--gap);
    font-size: 1.2rem;
    font-family: var(--font-1);
    overflow-y: scroll;

    .mobile_search_bar {
      font-size: 0.9rem;
      display: grid;
      gap: 0.2rem;
      grid-template-columns: 1fr auto;
      padding-inline: var(--gap);
      max-width: 100%;
      container-type: inline-size;

      .search {
        padding: 1cqi 1.5cqi;
        max-width: inherit;
        background-color: var(--primary-clr);
      }
    }

    .links__wrapper {
      display: grid;
      gap: var(--gap);
      align-self: end;
    }

    & a {
      padding-inline: var(--gap);
      display: flex;
      align-items: center;
      gap: var(--gap);

      &:hover {
        background-color: var(--faded-accent-clr);
      }
    }
  }

  @keyframes view {
    to {
      translate: 0 0;
    }
  }
}

/* for large devices */
@media (width > 992px) {
  .hamburger_btn {
    display: none;
  }

  .nav_items {
    display: none;
  }

  .search_sec {
    --search-width: 330px;
    display: grid;
    grid-template-columns: var(--search-width) auto;
    justify-content: center;
    gap: 0.4rem;
  }

  .search {
    padding: var(--padding-min) 1rem;
  }

  .icon_div {
    position: relative;
    cursor: pointer;

    &::before {
      content: attr(data-tooltip);
      position: absolute;
      white-space: nowrap;
      bottom: -10px;
      font-size: 0.7rem;
      color: #2e2e2e;
      opacity: var(--tooltip-opacity, 0);
    }

    &:hover {
      --tooltip-opacity: 1;
      scale: 1.1;
    }
  }
}
